<h2 mat-dialog-title class="title">Comisión</h2>
<div mat-dialog-content class="content">
  <div class="container-form">
    <form class="commission" [formGroup]="dataGroup">
      <div class="header">
        <div class="form-group name">
          <label>Nombre</label>
          <input type="text" class="form-control" formControlName="name">
        </div>

        <div class="form-group percentage">
          <label>Porcentaje Cumplimientos</label>
          <div class="container-per">
            <input type="number" class="form-control" min="0" formControlName="goal_percentage">
            <div class="icon-per">%</div>
          </div>
        </div>
      </div>

      <div class="container-types">
        <table>
          <thead>
            <tr>
              <th></th>
              <th style="text-align: center;">Porcentaje de comisión</th>
            </tr>
          </thead>
          <tbody formArrayName="types" *ngFor="let type of getControls.controls; let i = index">
            <tr class="type" [formGroupName]="i">
              <td style="padding-right: 15px;">{{ type.value.name }}</td>
              <td>
                <div class="container-per">
                  <input type="number" class="form-control" min="0" formControlName="percentage">
                  <div class="icon-per">%</div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </form>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cerrar</button>
  <button mat-button [mat-dialog-close]="dataGroup.value" [disabled]="dataGroup.invalid">Guardar</button>
</div>